@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin bg-default {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin flex-center {
    @include flex-between();
    align-items: center;
}

@mixin after {
    content: '';
    display: block;
    position: absolute;
}